<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="view" value="NY" /> <!-- standart --><!-- NY -->
    
    <add key="StandartDiscountRegular" value="0,03" />
    <add key="StandartBonusRegular" value="0,05" />
    <add key="StandartDiscountSale" value="0,01" />
    <add key="StandartBonusSale" value="0,01" />
    <add key="StandartDiscountSpecial" value="0,05" />
    <add key="StandartBonusSpecial" value="0" />

    <add key="FestiveSummRegular" value="1000" />
    <add key="FestiveSummSaler" value="1000" />
    <add key="FestiveSummSpecial" value="1000" />
    <add key="FestiveDiscountRegular" value="0,04" />
    <add key="FestiveBonusRegular" value="6" />
    <add key="FestiveDiscountSale" value="0,02" />
    <add key="FestiveBonusSale" value="0,02" />
    <add key="FestiveDiscountSpecial" value="0,06" />
    <add key="FestiveBonusSpecial" value="0" />
    
  </appSettings>
</configuration>